<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Curso Id</th>
                <th scope="col">Nome da Aula</th>
                <th scope="col">Duração</th>
                <th scope="col">Tópicos</th>
                <th scope="col">Editar</th>
                <th scope="col">Excluir</th>                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let a of curso?.aulas">
                <th scope="row">{{a.id}}</th>
                <td>{{a.nome}}</td>
                <td>{{a.duracao}}</td>
                <td>{{a.topicos}}</td> 
                <td><button type="button" class="btn btn-success"(click)="editar(a.id)" >Editar</button></td>
                <td><button type="button" class="btn btn-success" (click)="excluir(a.id)" >Excluir</button></td>               
            </tr>
        </tbody>
    </table>    
</div>